

.row{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.itemName{
    flex-basis: 70%;
}
.deleteItem{
    flex-basis: 20%;
}

.wordCard{
    display: block;
    width: 100%;
}